.form {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    position: absolute;
    bottom: 30px;
}
.ipt {
    height: 50px;
    width: 70%;
    border: 0px;
    border-radius: 5px;
    font-size: larger;
}

.btn {
    background-color: transparent;
    border: 0px;
    cursor: pointer;
    border-radius: 50%;
    margin-left: 20px;
}

@media (max-width : 1100px) {
    .form {
        width: 100%;
        margin: 0px;
        bottom: 0px;
        left: 0px;
        right: 0px;
    }
    .ipt {
        height: 50px;
        width: 100%;
    }
    .btn {
        margin-left: 0px;
    }
}