.data {
    width: 90%;
    margin: auto;
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.title {
    font-size: 37px;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}
.btn {
    background: #6c63ff;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    border: 0;
    width: 161px;
    height: 53px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 29px;
    color: #FFFFFF;
    cursor: pointer;
    margin-top: 65px;
}
.container {
    text-align: center;
}